*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.index__page {
    height: 100vh;
    background-image: url(residenza108black.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    
}
.proyects__page {
    height: 100vh;
    background-image: url(Fanton01.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    
}
.nav {
    height: px;
    width: 100%;
    background-color: rgba(192, 129, 173, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 72px;
    padding-left: 15px;
    color: azure;
    padding-right: 25px;
    position: relative;
}

.logo::after {
    content: "studio-undici";
    text-transform: uppercase   ;
    position: absolute;
    color: rgb(185, 10, 10);
    font-size: 14px;
    bottom: 0;
    left: 30px;
    padding: -5px;

}
.logo-img {
    height: 100px;
}

ul {
    list-style: none;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*margin: auto;*/
    text-transform: uppercase;
    font-size: 21px;
    color: aliceblue;
}

.nav__item {
    padding: 25px;
}

.nav__link {
    position: relative;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.lang-menu__list {
    padding: 25px;
}

.ita::before {
    content: "";
    
    width: 32px;
    
    background-image: url(https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.4.4/flags/1x1/it.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.lang-menu__list__hide {
    display: none;
}

